// colors
$typography:#212121;
$orange: #FF5900;
$orange-hover: #CA4600;
$gray-light: #F4F4F4; 
$gray: #333333;
$white: #FFFFFF;


// breakpoints
$breakpoint_xxl: 1399px;
$breakpoint_xl: 1199px;
$breakpoint_lg: 1065px;
$breakpoint_md: 825px;
$breakpoint_sm: 767px;

// fonts
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

// containers

