@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Light.ttf") format("opentype");
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.ttf") format("opentype");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Medium.ttf") format("opentype");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-SemiBold.ttf") format("opentype");
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Bold.ttf") format("opentype");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
html, body, body div, span, label, h1, h2, h3, h4, h5, h6, p, a, em, font, img,
s, small, strike, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, button,
form, fieldset, article, aside, footer, header, nav, section, input, textarea {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  list-style: none;
  font-size: 10px;
  font-family: Montserrat;
}

html * {
  max-height: 1000000px;
}

html {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

body {
  height: 100%;
  width: 100%;
}

html {
  height: 100%;
  width: 100%;
}

input::-ms-clear {
  display: none;
}

a {
  cursor: pointer;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  padding: 0 3rem;
}

.container {
  max-width: 126rem;
  margin: 0 auto;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid {
  display: grid;
}

.head {
  padding: 2.6rem 0;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
}
.head__adv p {
  font-size: 1.4rem;
  color: #212121;
  opacity: 0.7;
}
.head__contact {
  gap: 4rem;
}
.head__phone {
  font-size: 1.6rem;
  font-weight: 700;
  color: #212121;
  opacity: 0.7;
}
.head__btn {
  padding: 1.2rem 2.8rem;
  border: 1px solid #FF5900;
  border-radius: 49px;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1;
  color: #FF5900;
}
.head__btn::before {
  content: url("/img/phone.svg");
  padding: 0 8px 0 0;
  vertical-align: middle;
}
.head__btn:hover {
  background: #CA4600;
  color: #FFFFFF;
  border-color: #CA4600;
}

.menu__burger {
  display: none;
}
.menu__list {
  padding: 2.8rem 0;
  gap: 2rem;
  flex-wrap: wrap;
}
.menu__link {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.7rem;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #212121;
}
.menu__item:first-child::after {
  position: absolute;
  content: url("/img/triangle.png");
  vertical-align: middle;
  padding: 0 0 0 10px;
}

@media (max-width: 1199px) {
  .container {
    width: 99.2rem;
  }
  .menu__link {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
  .menu__item:first-child::after {
    padding: 0 0 0 1px;
  }
}
@media (max-width: 1065px) {
  .container {
    width: 76.8rem;
  }
  .head .container {
    gap: 1rem;
  }
  .head__adv p {
    font-size: 1.2rem;
    text-align: center;
  }
  .head__contact {
    gap: 1rem;
  }
  .head__phone {
    font-size: 1.2rem;
  }
  .head__btn {
    padding: 1rem 1.8rem;
    font-size: 1.2rem;
  }
  .head__btn::before {
    padding: 0 4px 0 0;
  }
  .menu__list {
    padding: 2.8rem 0;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .menu__link {
    font-size: 1.4rem;
    line-height: 1.7rem;
  }
  .menu__item:first-child::after {
    position: absolute;
    content: url("/img/triangle.png");
    padding: 0 0 0 4px;
  }
}
@media (max-width: 825px) {
  .wrapper {
    padding: 0 1rem;
  }
  .container {
    width: 576px;
  }
  .head .container {
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 3rem;
  }
  .head__contact {
    gap: 10rem;
  }
  .head__phone {
    font-size: 2rem;
  }
  .head__adv p {
    font-size: 2rem;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .container {
    width: 320px;
  }
  .head .container {
    flex-direction: column;
    gap: 1.5rem;
  }
  .head__menu {
    display: flex;
    align-items: center;
    gap: 4rem;
  }
  .head__contact {
    justify-content: space-evenly;
    gap: 0.5rem;
  }
  .head__phone {
    font-size: 1.4rem;
  }
  .head__adv p {
    font-size: 1.2rem;
  }
  .head__btn {
    padding: 0.8rem 1rem;
    font-size: 1.2rem;
  }
  .head__btn::before {
    padding: 0 2px 0 0;
  }
  .burger {
    top: 0.6rem;
    display: block;
    position: relative;
    width: 4rem;
    height: 2rem;
    cursor: pointer;
    margin-right: auto;
  }
  .burger__span,
.burger__span::after,
.burger__span::before {
    position: absolute;
    width: 100%;
    height: 0.3rem;
    background: #000000;
  }
  .burger__span::before {
    content: "";
    top: -8px;
    transition: top 300ms 300ms, transform 0ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .burger__span::after {
    content: "";
    bottom: -8px;
    transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .burger span.active:before {
    content: "";
    top: 0px;
    transform: rotate(45deg);
    transition: top 300ms, transform 400ms 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .burger span.active:after {
    content: "";
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms, transform 400ms 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .burger span.active {
    background: rgba(255, 255, 255, 0);
  }
  .menu {
    position: fixed;
    left: -300rem;
  }
  .menu.animate {
    flex-wrap: nowrap;
    position: absolute;
    transition: left 1s;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    z-index: 3000;
    padding: 1rem;
    background: #FFFFFF;
  }
  .menu__list.flex {
    flex-direction: column;
    padding: 3rem;
    gap: 1rem;
    align-items: flex-start;
  }
}
.banner {
  background: url("/img/banner-bg.jpg");
  min-height: 71.6rem;
  background-position: 55% 0;
  background-repeat: contain;
}
.banner__wrapper {
  max-width: 78rem;
  padding: 17rem 3rem 21rem;
}
.banner__title {
  padding: 0 0 2.8rem 0;
  font-weight: 700;
  font-size: 6.8rem;
  line-height: 7.5rem;
  color: #FFFFFF;
}
.banner__text {
  padding: 0 0 5.2rem 0;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: #FFFFFF;
}
.banner__links {
  gap: 3.2rem;
  justify-content: flex-start;
}
.banner__link {
  padding: 2rem 4rem;
  backdrop-filter: blur(2.5px);
  border: 1px solid;
  border-radius: 10rem;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #FFFFFF;
}
.banner__link:first-child {
  border-color: #FF5900;
  background: #FF5900;
}
.banner__link:first-child:hover {
  border-color: #CA4600;
  background: #CA4600;
}
.banner__link:not(:first-child) {
  backdrop-filter: blur(2.5px);
  background: rgba(255, 255, 255, 0.2);
}
.banner__link:not(:first-child):hover {
  border-color: #FF5900;
  background: none;
  color: #FF5900;
}

@media (max-width: 1065px) {
  .container {
    width: 76.7rem;
  }
  .banner {
    min-height: 60rem;
    background-position: 60% 0;
  }
  .banner__wrapper {
    max-width: 70rem;
    padding: 9rem 3rem 9rem;
  }
  .banner__title {
    padding: 0 0 2.8rem 0;
    font-size: 6rem;
    line-height: 6rem;
  }
  .banner__links {
    gap: 3.2rem;
    justify-content: flex-start;
  }
  .banner__link {
    font-size: 1.4rem;
  }
}
@media (max-width: 825px) {
  .wrapper {
    padding: 0 1rem;
  }
  .container {
    width: 576px;
  }
  .banner {
    min-height: 40rem;
    background-position: 60% 0;
  }
  .banner__wrapper {
    max-width: 70rem;
    padding: 4rem 3rem 4rem;
  }
  .banner__title {
    padding: 0 0 2.8rem 0;
    font-size: 4rem;
    line-height: 4rem;
  }
  .banner__text {
    padding: 0 0 3.2rem 0;
  }
  .banner__links {
    gap: 2rem;
    justify-content: flex-start;
  }
  .banner__link {
    padding: 1.5rem;
    font-size: 1.2rem;
  }
}
@media (max-width: 767px) {
  .container {
    width: 320px;
  }
  .banner {
    min-height: 40rem;
    background-position: 60% 0;
    background-size: cover;
  }
  .banner__wrapper {
    max-width: 30rem;
    padding: 2rem 2rem;
  }
  .banner__title {
    padding: 0 0 2.8rem 0;
    font-size: 3rem;
    line-height: 3rem;
    text-align: center;
  }
  .banner__text {
    padding: 0 0 2.2rem 0;
    text-align: center;
  }
  .banner__links {
    gap: 2rem;
    justify-content: flex-start;
    flex-direction: column;
  }
  .banner__link {
    padding: 1.5rem;
    font-size: 1.2rem;
  }
}
.digital {
  padding: 12rem 0;
}
.digital__content {
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}
.digital__list {
  min-height: 48.7rem;
}
.digital__list:first-child {
  background: url("/img/digital-bg-1.png");
  background-repeat: no-repeat;
}
.digital__list:nth-child(2) {
  background: url("/img/digital-bg-2.png");
  background-repeat: no-repeat;
}
.digital__list:nth-child(3) {
  background: url("/img/digital-bg-3.png");
  background-repeat: no-repeat;
}
.digital__wrapper {
  max-width: 29.6rem;
  padding: 4rem 3.2rem;
}
.digital__title {
  padding: 0 0 6rem 0;
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 4.6rem;
  color: #212121;
}
.digital__span {
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 4.6rem;
  color: #FF5900;
}
.digital__headline {
  padding: 0 0 2.8rem 0;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.5rem;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #FFFFFF;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.digital__text .text__begin {
  padding: 2rem 0;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: #FFFFFF;
}
.digital__text .text__small {
  padding: 2rem 0 2.8rem 0;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;
  color: #FFFFFF;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  opacity: 0.5;
}
.digital__text .text__end {
  padding: 0 0 3.6rem;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: #FFFFFF;
}
.digital__link {
  display: block;
  padding: 1.6rem 6rem;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
  color: #FF5900;
  border: 1px solid #FF5900;
  border-radius: 100px;
}

@media (max-width: 1199px) {
  .digital {
    padding: 6rem 0;
  }
  .digital__content {
    grid-template-columns: none;
    justify-content: center;
  }
  .digital__title {
    text-align: center;
  }
}
@media (max-width: 825px) {
  .wrapper {
    padding: 0 1rem;
  }
  .container {
    width: 576px;
  }
  .digital {
    padding: 3rem 0;
  }
  .digital__content {
    gap: 2rem;
  }
  .digital__list {
    min-height: 50rem;
  }
  .digital__title {
    padding: 0 0 3rem 0;
    font-size: 2.8rem;
    line-height: 3.6rem;
  }
  .digital__span {
    font-size: 2.8rem;
    line-height: 3.6rem;
  }
}
@media (max-width: 767px) {
  .container {
    width: 320px;
  }
  .digital__wrapper {
    max-width: 26rem;
    padding: 2rem 1rem;
  }
  .digital__link {
    font-size: 1.4rem;
  }
}
.advantage {
  padding: 0 0 12rem;
}
.advantage__title {
  padding: 0 0 6rem 0;
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 4.6rem;
  color: #212121;
}
.advantage__grid {
  text-align: center;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  align-items: center;
}
.advantage__wrapper {
  padding: 1.5rem 4.5rem;
}
.advantage__icon {
  padding: 2.2rem 0;
}
.advantage__text {
  display: block;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: #333333;
}

@media (max-width: 1199px) {
  .container {
    max-width: 99.2rem;
  }
  .advantage {
    padding: 0 0 6rem;
  }
  .advantage__title {
    text-align: center;
  }
}
@media (max-width: 1065px) {
  .container {
    width: 76.8rem;
  }
  .advantage__grid {
    gap: 2rem;
  }
  .advantage__wrapper {
    padding: 1.5rem 1rem;
  }
  .advantage__text {
    font-size: 1.4rem;
  }
}
@media (max-width: 825px) {
  .wrapper {
    padding: 0 1rem;
  }
  .container {
    width: 576px;
  }
  .advantage {
    padding: 0 0 3rem;
  }
  .advantage__title {
    padding: 0 0 3rem 0;
    font-size: 2.8rem;
    line-height: 3.6rem;
  }
  .advantage__wrapper {
    padding: 0;
  }
  .advantage__grid {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
@media (max-width: 767px) {
  .container {
    width: 320px;
  }
  .advantage {
    padding: 0 0 3rem;
  }
  .advantage__title {
    padding: 0 0 3rem 0;
    font-size: 2.8rem;
    line-height: 3.6rem;
    text-align: center;
  }
  .advantage__wrapper {
    padding: 0;
  }
  .advantage__grid {
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(1, 28rem);
    justify-content: center;
    gap: 1rem;
  }
  .advantage__text {
    padding: 0.5rem;
  }
}
.footer {
  background: #333333;
}
.footer__content {
  padding: 12rem 3rem 8rem;
  gap: 17rem;
  align-items: flex-start;
  align-self: start;
}
.footer__logo {
  padding: 0 0 6rem 0;
}
.footer__region {
  justify-content: flex-start;
  gap: 1rem;
}
.footer__phone, .footer__adress {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #FFFFFF;
}
.footer__info {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #FFFFFF;
  opacity: 0.5;
}
.footer__company {
  padding: 1.2rem 0 0 0;
}
.footer__social {
  padding: 2.8rem 0 0 0;
  gap: 2rem;
  justify-content: flex-start;
}
.footer__menu {
  gap: 10.7rem;
}
.footer__item {
  align-items: flex-start;
  align-self: start;
}
.footer__item p {
  display: block;
  padding: 0 0 2.4rem 0;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #FFFFFF;
  opacity: 0.5;
}
.footer__item a {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #FFFFFF;
}

.region {
  padding: 0 0 2rem 0;
}
.region__text {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #FFFFFF;
  opacity: 0.5;
  padding-bottom: 2px;
}
.region__city {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.4rem;
  color: #FFFFFF;
  padding-bottom: 2px;
  border-bottom: 1px solid #FFFFFF;
}

@media (max-width: 1199px) {
  .container {
    max-width: 99.2rem;
  }
  .footer__content {
    padding: 12rem 3rem 8rem;
    gap: 10rem;
  }
  .footer__menu {
    gap: 3rem;
  }
}
@media (max-width: 1065px) {
  .container {
    width: 76.8rem;
  }
  .footer__content {
    padding: 6rem 3rem 6rem;
    gap: 3rem;
    flex-direction: column-reverse;
    align-items: flex-start;
    align-self: start;
  }
  .footer__contact {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    margin: 0 auto;
    justify-items: center;
    align-items: center;
  }
  .footer__logo {
    padding: 0;
  }
  .footer__region {
    justify-content: flex-start;
    gap: 1rem;
  }
  .footer__company {
    padding: 0;
    text-align: center;
  }
  .footer__social {
    padding: 0;
    gap: 2rem;
    justify-content: flex-start;
  }
  .footer__menu {
    gap: 2rem;
  }
  .region {
    padding: 0;
  }
}
@media (max-width: 825px) {
  .wrapper {
    padding: 0 1rem;
  }
  .container {
    width: 576px;
  }
  .footer__content {
    padding: 3rem 0 3rem;
  }
  .footer__item a {
    font-size: 1.2rem;
  }
  .footer__phone, .footer__adress {
    font-size: 1.2rem;
  }
  .footer__info {
    font-size: 1.2rem;
  }
  .region__text {
    font-size: 1.2rem;
  }
  .region__city {
    font-size: 1.2rem;
  }
}
@media (max-width: 767px) {
  .container {
    width: 320px;
  }
  .footer__content {
    padding: 2rem;
    gap: 3rem;
    flex-direction: column;
  }
  .footer__contact {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0;
    justify-items: flex-start;
    align-items: flex-start;
  }
  .footer__menu {
    flex-direction: column;
  }
  .footer__company {
    padding: 0;
    text-align: left;
  }
}

/*# sourceMappingURL=style.css.map */
