.head {
    padding: 2.6rem 0;
    border-bottom: 1px solid rgba(51, 51, 51, 0.1);
    ;

    &__adv p {
        font-size: 1.4rem;
        color: $typography;
        opacity: 0.7;
    }

    &__contact {
        gap: 4rem;

    }

    &__phone {
        font-size: 1.6rem;
        font-weight: $bold;
        color: $typography;
        opacity: 0.7;
    }

    &__btn {
        padding: 1.2rem 2.8rem;
        border: 1px solid $orange;
        border-radius: 49px;
        font-size: 1.8rem;
        font-weight: $medium;
        line-height: 1;
        color: $orange;

        &::before {
            content: url('../img/phone.svg');
            padding: 0 8px 0 0;
            vertical-align: middle;
        }

        &:hover {
            background: $orange-hover;
            color: $white;
            border-color: $orange-hover;
        }
    }
}

.menu {

    &__burger {
        display: none;
    }

    &__list {
        padding: 2.8rem 0;
        gap: 2rem;
        flex-wrap: wrap;
    }

    &__link {
        font-weight: $medium;
        font-size: 1.4rem;
        line-height: 1.7rem;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        color: $typography;
    }

    &__item:first-child::after {
        position: absolute;
        content: url('../img/triangle.png');
        vertical-align: middle;
        padding: 0 0 0 10px;
    }

}